<div style="text-align: center; margin-top: 50px;">
    <h3>Welcome to {{name}}</h3>
    <h3>Welcome to {{topic}}</h3>
    <img [src]="image" />
  
    <div>Message from child : {{message}}</div>
  
    <br>
  
    <button (click)="onClick()">Click</button>
  
    <br>
    <input type="text" [(ngModel)]="textField">
  
    <p>{{textField}}</p>
  
    <br>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <br>
  
    <div style="display: flex;">
      <button (click)="updateDirect()">Update Direct</button>
      <button (click)="updateReassign()">Update Reassign</button>
    </div>
    <p>parent componnet: {{newMessage}} </p>
    <app-child *ngIf="visibility" [myNumber]="number" [changeUser]="user" [parentMessage]="newMessage"
      (messageChange)="onMessageChange($event)" [myNewMessage] = "textMessage"></app-child>
    <br>
    <button (click)="switchVisibility()">Show/Hide</button>
  
    <div style="margin-top: 50px; margin-bottom: 50px;">
      <div>
        <h5>Directives ng-model</h5>
        Quantity: <input type="number" [(ngModel)]="quantity">
        Costs: <input type="number" [(ngModel)]="price">
      </div>
      <div style="margin-top: 3%;">
        Total in dollar: {{ quantity * price }}
      </div>
    </div>
  
    <div style="margin-top: 50px;">
      <div style="margin-top: 3%;">
        <h5>Directives ngFor</h5>
        <ul>
          <li *ngFor="let product of products">{{product.name}}</li>
        </ul>
      </div>
    </div>
  
    <div style="margin-top: 50px; margin-bottom: 50px;">
      <h5>Directive ngIf</h5>
      <button (click)="displayContent()">Content to display</button>
      <div *ngIf="condition">
        <p>This content is conditionally displayed.</p>
      </div>
    </div>
  
    <div>
      <h5> Directive ngSwitch</h5>
      <button (click)="currentView = 'home'">Home</button>
      <button (click)="currentView = 'about'">About</button>
      <button (click)="currentView = 'contact'">Contact</button>
  
      <div [ngSwitch]="currentView">
        <div *ngSwitchCase="'home'">
          <p>This is the Home view.</p>
        </div>
        <div *ngSwitchCase="'about'">
          <p>This is the About view.</p>
        </div>
        <div *ngSwitchCase="'contact'">
          <p>This is the Contact view.</p>
        </div>
        <div *ngSwitchDefault>
          <p>This is the default view. Please select a view.</p>
        </div>
      </div>
    </div>
  
  
    <div style="margin-top: 50px; margin-bottom: 50px;">
      <button (click)="toggleActive()">toggle active</button>
      <button (click)="toggleIsDisabled()">toggle Disabled</button>
  
      <div [ngClass]="{'active' : isActive, 'disabled': isDisabled}">
        <p>toggle clicks</p>
      </div>
  
    </div>
  
  
  </div>